<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.media2359.nickel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" android:required="false"/>

    <application
        android:allowBackup="true"
        android:name=".NickelApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.media2359.nickel.ui.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity android:name="com.media2359.nickel.ui.WebViewActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.media2359.nickel.ui.LoginActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.media2359.nickel.ui.ProfileActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.CaptureActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.media2359.nickel.ui.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SplashActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

    </application>

</manifest>
